<div class="unauthed_accounts">
  <% if @unauthed_accounts.length == 1 %>
    <h4>
      Authorization for <%= @unauthed_accounts[0].capitalize %> has expired. Please click the below link to reauthorize
      your account.
    </h4>
  <% else %>
    <h4>
      Authorization for the following accounts has expired. Please click the below links to reauthorize your
      accounts.
    </h4>
  <% end %>
  <ul>
    <% @unauthed_accounts.each do |account| %>
      <li data-unauthed=<%= account %>>
        <%= account.capitalize %>: <%= link_to "Click here to reauthorize", "/auth/#{account}" %>
      </li>
    <% end %>
  </ul>
</div>