<div id="login_container">
  <h1>Get Started</h1>
  <div id="onefeed_registration_container">
    <div id="onefeed_registration">
      <a href="/register">Register with OneFeed</a>
    </div>
  </div>
  <div id="onefeed_login_container">
    <div id="onefeed_login">
      <a href="/login">Login with OneFeed</a>
    </div>
  </div>
</div>