<div id="login_container">
    <% if @failure %>
      <p id="auth_failure">Authorization failed.</p>
    <% end %>

    <h1>Get Started</h1>

    <div id="facebook_login_container">
      <div id="facebook_login">
        <a href="auth/facebook"><h3>Login with Facebook</h3></a>
        <a href="/auth/facebook" id="facebook_login_link"><img src="<%= asset_url("FB-f-Logo__blue_50.png") %>"></a>
      </div>
    </div>
    <div id="twitter_login_container">
      <div id="twitter_login">
        <a href="auth/twitter"><h3>Login with Twitter</h3></a>
        <a href="/auth/twitter" id="twitter_login_link"><img src="<%= asset_url("Twitter_logo_blue.png") %>"></a>
      </div>
    </div>
</div>