<form id="create_post_form" name="create_post_form" action="#" data-behavior="/posts">
  <div id="create_posts_container">

    <div style="display:none">
      <input name="utf8" type="hidden" value="&#x2713;"/>
      <input name="authenticity_token" type="hidden" value="sx9Uqe9Rt0WYna5MBqHA/bDQmJJfrE8c/sIUjiQJN/w="/>
    </div>

    <div id="post_content_container">
      <label for="post_content">Post content</label>
      <p id="textarea_validation_error">Post body cannot be blank.</p>
      <textarea id="post_content" name="post" placeholder="Share something awesome!"></textarea>
    </div>

    <div id="post_checkbox_container">
      <label>Choose which networks to post to:</label>
      <p id="checkbox_validation_error">You must check at least one provider.</p>
      <% if (twitter) { %>
      <label for="provider_twitter">Twitter</label>
      <input id="provider_twitter" name="provider[twitter]" type="checkbox" value="0"/>
      <% } %>

      <% if (facebook) { %>
      <label for="provider_facebook">Facebook</label>
      <input id="provider_facebook" name="provider[facebook]" type="checkbox" value="0"/>
      <% } %>
    </div>

    <div id='character_count_container'>
      <p id="tweet_length_validation_error">Tweet cannot be longer than 140 characters.</p>
      <p>Characters Remaining: <span id='character_count'>140</span></p>
    </div>

    <div id="create_post_button_container">
      <button type="submit">Create Post</button>
      <button id="js-cancel-button">Cancel</button>
    </div>

  </div>
</form>
