<div class="unauthed_accounts">
  <% if (unauthed_accounts.length === 1) { %>
  <h4>
    Authorization for <%= unauthed_accounts[0] %> has expired. Please click the below link to reauthorize
    your account so that you can create a post.
  </h4>
  <% } else { %>
  <h4>
    Authorization for the following accounts has expired. Please click the below links to reauthorize your
    accounts so that you can create a post.
  </h4>
  <% } %>
  <ul>
    <% for (var i = 0; i < unauthed_accounts.length; i++) { %>
    <li>
      <%= unauthed_accounts[i] %>: <a href="<%= '/auth/' + unauthed_accounts[i].toLowerCase() %>">Click here to
        reauthorize</a>
    </li>
    <% } %>
  </ul>
</div>
