#site_description_container {
  display: none;
  @include media($large-screen) {
    @include span-columns(7);
    display: block;
    text-align: center;
  }
  position: relative;
  margin-top: 3em;
  width: 45%;
  min-height: 400px;
  float: left;
  #site_description {
    position: relative;
    z-index: 10;
    font-size: 1.5em;
    font-weight: bold;
    #description_header {
      font-size: 2em;
    }
    h1 {
      margin: 1em 0 0;
    }
  }
}

#description_paragraph {
  @include media($large-screen) {
    margin: auto;
    text-align: left;
    width: 35%;
  }
}

#image_container {
  background: image-url("preview_image_3_small.png");
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  border: 2px solid $logo-green;
  @include media($large-screen) {
    @include span-columns(10);
  }
}

#onefeed_registration_container {
  @include outer-container;
  @include media($large-screen) {
    @include span-columns(5);
    float: right;
    margin-top: 2.5em;
  }
}

#onefeed_registration {
  margin: 2em 0 0 1em;
  font-size: 1.25em;
  @include media($large-screen) {
    margin: 0 0 0 .25em;
  }
  p {
    color: $error_message_red;
    margin-bottom: 0;
  }
  #registration_header_container {
    text-align: left;
    h3 {
      margin: 0 auto 1em;
    }
  }
  form {
    input {
      display: block;
      border: none;
      border-radius: 3px;
      margin: .5em 0 1.23em 0;
      height: 1.5em;
      width: 17.5em;
    }
    .homepage_form_button {
      input:hover {
        color: $logo-green;
      }
      input {
        background-color: $white;
        width: 5em;
        height: 2em;
      }
    }
    label {
      margin-bottom: 5em;
    }
  }
}

#auth_failure,
.login_failure {
  color: $error_message_red;
  text-align: center;
}