header {
  background-color: $logo-green;
  opacity: 0.75;
  overflow: hidden;
  box-shadow: 0 1px 4px $box-shadow-gray;
}

.header_content {
  @include outer-container;
  #logo_container {
    display: block;
    margin: .35em 0 0 1em;
  }
  #logo_container {
    @include media($large-screen) {
      @include span-columns(7);
      display: inline-block;
      margin: .35em 0 0 0;
    }
  }

  #menu_button_container {
    display: inline-block;
    float: right;
    padding: 1em;
    color: white;
    li {
      display: block;
    }
    @include media($large-screen) {
      padding: 0;
      margin-top: 1.5em;
    }
  }
  #menu_button {
    &:hover {
      cursor: pointer;
    }
  }
  .mobile_menu {
    display: block;
  }
  @include media($large-screen) {
    #menu_button_container {
      li {
        display: inline-block;;
        border: none;
      }
      .mobile_menu {
        display: inline-block;
        border: none;
      }
    }
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: $background-gray;
  font-size: .7em;
  @include media($large-screen) {
    font-size: .9em
  }
}

.content_container {
  @include outer-container;
  overflow: hidden;
  a {
    text-decoration: none;
    color: $logo-green;
  }
}

#feed_content {
  margin: 0 auto;
  padding: .5em;
  overflow: hidden;
  #secondary_nav {
    display: block;
  }
  @include media($large-screen) {
    padding: 2em 0;
    aside {
      @include span-columns(3);
    }
    #feed_container {
      @include span-columns(9);
    }
    #secondary_nav {
      display: block;
    }
  }
}

#feed_container {
  text-align: left;
}