header {
  background-color: $logo-green;
  opacity: 0.75;
  overflow: hidden;
  box-shadow: 0 1px 4px $box-shadow-gray;
}

.header_content {
  @include outer-container;
  #logo_container {
    display: block;
    margin: .35em 0 0 1em;
  }
  #logo_container {
    @include media($large-screen) {
      @include span-columns(7);
      display: inline-block;
      margin: .35em 0 0 0;
    }
  }

  #menu_button_container {
    display: inline-block;
    float: right;
    padding: 1em;
    color: white;
    @include media($large-screen) {
      padding: 0;
      margin-top: 1.5em;
    }
  }
  #menu_button {
    &:hover {
      cursor: pointer;
    }
  }
  .mobile_menu {
    display: none;
  }
  @include media($large-screen) {
    #menu_button_container {
      li {
        display: inline-block;;
        border: none;
      }
      .mobile_menu {
        display: inline-block;
        border: none;
      }
    }
  }
}

body {
  font-family: $main_font, $default_font;
  font-weight: 400;
  background-color: $background-gray;
  font-size: .7em;
  @include media($large-screen) {
    font-size: .9em
  }
}

.content_container {
  @include outer-container;
  overflow: hidden;
  a {
    text-decoration: none;
    color: $logo-green;
  }
}

html, body {
  height: 100%;
}

.content_container {
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  padding-bottom: $footer-height;
}

footer {
  text-align: center;
  clear: both;
  position: relative;
  margin-top: $footer-height * - 1;
  height: $footer-height;
  overflow: visible;
  background-color: $logo-green;
  opacity: 0.75;
  a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 35%;
    transform: translateY(-540%);
  }
}