#reset_password_container {
  margin: 2em 0;
  font-size: 1.25em;
  background-color: $white;
  padding: 2.5em;
  p {
    margin: 0;
  }
  form {
    input {
      display: block;
      border: 1px solid black;
      border-radius: 3px;
      margin: .5em 0 1.23em 0;
      width: 18em;
      &:last-child {
        width: 7em;
        background-color: white;
        &:hover {
          color: $logo-green;
        }
      }
    }
  }
  #update_password_button {
    width: 10em;
    background-color: white;
    &:hover {
      color: $logo-green;
    }
  }
}
