/* universal */

header {
  background-color: #E6E6E6;
}

body {
  font-family: Libre Baskerville;
}

/* homepage header */

#logo {
  margin: 1% auto;
}

#header_content {
  width: 90%;
  margin: auto;
}

nav {
  float: right;
  margin-top: 1.9%;
  li {
    list-style: none;
    margin-right: 2%;
    a {
      text-decoration: none;
      color: #00b80c;
      font-size: 1.25em;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
}

/* homepage login */

#login_container {
  width: 100%;
  text-align: center;
  overflow-y: hidden;
  background-color: #fff;
  img {
    height: 50px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

#facebook_login_container {
  width: 45%;
  float: left;
}

#facebook_login {
  float: right;
}

#twitter_login_container {
  width: 45%;
  float: right;
}

#twitter_login {
  float: left;
}

#auth_failure {
  color: #FF0000;
  text-align: center;
}

/* Feed */

#feed_container {
  width: 90%;
  margin: auto;
  h1 {
    text-align: center;
  }
}

#twitter_stream_logo {
  height: 30px;
}

#individual_post {
  a {
    text-decoration: none;
    color: #00b80c;
  }
}
