/* universal */

$white: #fff;
$background-gray: #E6E6E6;
$logo-green: #00b80c;
$error_message_red: #FF0000;

header {
  background-color: $white;
}

body {
  font-family: Libre Baskerville;
  background-color: $background-gray;
}

/* homepage header */

#logo {
  margin: 1% auto;
}

#header_content {
  width: 90%;
  margin: auto;
}

nav {
  float: right;
  margin-top: 1.9%;
  li {
    list-style: none;
    margin-right: 2%;
    a {
      text-decoration: none;
      color: $logo-green;
      font-size: 1.25em;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
}

/* homepage login */

#accounts_container {
  margin: 3em 0 3em 3em;
  background-color: $white;
  width: 20%;
  min-height: 32em;
  float: left;
  text-align: center;
  overflow-y: hidden;
  img {
    height: 50px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  #twitter_login_container {
    margin-top: 2.5em;
  }
}

#login_container {
  width: 100%;
  text-align: center;
  overflow-y: hidden;
  img {
    height: 50px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

#onefeed_registration_container {
  margin-top: 2.5em;
  width: 45%;
  float: right;
  #onefeed_registration {
    float: left;
    font-size: 1.25em;
    a:hover {
      color: $logo-green;
    }
  }
}

#onefeed_login_container {
  margin-top: 2.5em;
  width: 45%;
  float: left;
  #onefeed_login {
    float: right;
    font-size: 1.25em;
    a:hover {
      color: $logo-green;
    }
  }
}

#auth_failure {
  color: $error_message_red;
  text-align: center;
}

/* Feed */

#feed_container {
  width: 70%;
  float: right;
  margin: 3em 3em 3em 0;
}

#network_logo {
  float: left;
}

#twitter_stream_logo {
  height: 47px;
}

#post_container {
  background-color: $white;
  min-height: 32em;
}

#individual_post {
  padding: 2.5em;
  border-bottom: 1px solid $background-gray;
  border-bottom-width: .5em;
  a {
    text-decoration: none;
    color: $logo-green;
  }
}

#post_main {
  margin-left: 6em;
}

#post_stats {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    display: inline;
    padding-right: 1.5em;
  }
}

#post_header {
  img {
    float: left;
  }
  ul {
    padding: 0;
    margin: 0;
    padding-top: 32px;
  }
  li {
    list-style: none;
    display: inline;
    padding-left: 1.5em;
  }
}

#post_content {
  clear: both;
}

#empty_feed {
  margin-top: 0;
  padding: 1.8em;
  text-align: center;
  font-size: 1.25em;
}