<!DOCTYPE html>
<html>
<head>
  <title>OneFeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <a href="/"><img id="logo" src="/assets/one_feed_logo.png" alt="OneFeed Logo"></a>
</header>
<div class="container">
<%= yield %>
</div>
</body>
</html>
