<p id="auth_failure"><%= flash[:auth_failure] %></p>

<div class="network_container">
  <div class="network_login">
    <a href="/auth/twitter">Link Twitter</a><br>
    <a href="/auth/twitter" id="twitter_login_link"><img src="<%= asset_url("Twitter_logo_blue.png") %>"></a>
  </div>
</div>
<div class="network_container">
  <div class="network_login">
    <a href="/auth/facebook">Link Facebook</a><br>
    <a href="/auth/facebook" id="facebook_login_link"><img src="<%= asset_url("FB-f-Logo__blue_50.png") %>"></a>
  </div>
</div>
<div class="network_container">
  <div class="network_login">
    <a href="/auth/instagram">Link Instagram</a><br>
    <a href="/auth/instagram" id="instagram_login_link"><img src="<%= asset_url("Instagram_Icon_Large.png") %>"></a>
  </div>
</div>